body {
	display: grid;
	align-content: center;
	justify-content: center;
	background: rgb(151, 179, 214);
}

#wrapper {
  display: grid;
  justify-content: center;
}

#submit-form {
  margin: 1rem;
  display: flex;
  width: 500px;
  max-width: 500px;
  justify-content: space-between;
}

#reminder {
	box-sizing: border-box;
	width: 400px;
	border-radius: 0px;
	border: transparent;
	padding: 10px;
}


.single-reminder {
	border-color: blue;
	display: flex;
	justify-content: space-between;
	background: rgb(65, 65, 190);
}

.single-reminder p {
  padding-left: 1rem;
  padding-right: 1rem;
	color: white;
  word-wrap: break-word;
  max-width: 304px;
}

.completed {
	background: rgb(68, 68, 68);
}

.completed p {
	text-decoration: line-through;
	color: darkgray;
}

.completed div button {
	background: rgb(88, 0, 0);
	color: rgb(134, 134, 134);
}

.single-reminder div {
  display: flex;
  padding: 2px;
  max-width: 500px;
}

.alt {
	background: rgb(77, 77, 184);
}

.btn {
	font-size: 1.5rem;
	align-self: center;
	margin-right: 1rem;
	height: 2rem;
	width: 3rem;
	border: 0px;
	border-radius: 10px;
}

.complete {
	background: green;
}

.delete {
	background: red;
}
